body {
  margin: 0;
}
h1 {
  font-family: PT Sans Narrow Bold, sans-serif;
  font-size: 1.875em;
  color: #323232;
}
h2 {
  font-family: PT Sans Narrow Bold, sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}
h3 {
  font-family: PT Serif Regular, serif;
  font-size: 1em;
  line-height: 2em;
  color:#323232;
}
p {
  font-family: PT Serif Regular, serif;
  font-size: .875em;
  color: #323232;
  line-height: 200%;
}
a {
  font-family: PT Serif Bold, serif;
  font-size: 1em;
  color:#f26522;
}
nav {
  height: 80px;
}
nav h1 {
  font-family:PT Sans Narrow Bold, sans-serif;
  font-size: 1.5em;
  color: #323232;
  float: left;
  margin-top: 35px;
}
nav p {
  font-family: PT Sans Regular, sans-serif;
  font-size: .9em;
  color: #323232;
  display: inline-block;
  float: right;
  width: 25px;
  padding-right: 20px;
  margin-right: 30px;
  margin-top: 35px;
}
.float-left {
  margin-left: 950px;
  float: left;
}
footer {
  background-color: #00897f;
  height: 75%;;
}
footer h1 {
  font-family: PT Sans Narrow Bold, sans-serif;
  font-size: 1.25em;
  color: #323232;
  text-align: center;
}
footer img {
  width: 100%;
}
.splash {
  width: 100%;
}
.main {
  margin: 0 auto;
  width: 50%;
}
.intro {
  margin: 0 auto;
  padding-bottom: 25px;
}
.intro h1 {
  text-align: center;
}
.kat {
  float: left;
  width: 40%;
  background-color: #eeeeee;
  height: 250px;
  padding: 15px;
}
.mavis {
  float: right;
  width: 40%;
  background-color: #eeeeee;
  height: 250px;
  padding: 15px;
}
.kat h2 {
  text-align: center;
  padding: 10px;
}
.mavis h2 {
  text-align: center;
  padding: 10px;
}
.cool-cats {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 25px;
  margin: 0 auto;
  margin-top: 40px;
}
.scoot {
  margin-right: 20px;
}
/*.main_2 {
  text-align: center;
  margin: 0 auto;
  height: 405px;
}*/
.main-2 {
  margin: 0 auto;
  background-color: #eeeeee;
  height: 400px;
}
.main-2 h1 {
  text-align: center;
padding: 40px 0 0 35px;
}
.hours {
  background-color: white;
  display: inline-block;
  width: 20%;
  height: 200px;
  float: left;
  padding: 15px;
  padding-bottom: 25px;
  margin-left: 25%;
}
.contact {
  display: inline-block;
  background-color: white;
  width: 20%;
  height: 200px;
  float: right;
  padding: 15px;
  padding-bottom: 25px;
  margin-right: 25%;
}
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
/*le old code for reference*/
/*body {
  margin: 0;
}
h1 {
  font-family: PT Sans Narrow Bold, sans-serif;
  font-size: 1.875em;
  color: #323232;
}
h2 {
  font-family: PT Sans Narrow Bold, sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}
h3 {
  font-family: PT Serif Regular, serif;
  font-size: 1em;
  line-height: 2em;
  color:#323232;
}
p {
  font-family: PT Serif Regular, serif;
  font-size: .875em;
  color: #323232;
}
a {
  font-family: PT Serif Bold, serif;
  font-size: 1em;
  color:#f26522;
}
nav {
  height: 80px;
}
nav h1 {
  font-family:PT Sans Narrow Bold, sans-serif;
  font-size: 1.5em;
  color: #323232;
}
nav p {
  font-family: PT Sans Regular, sans-serif;
  font-size: .9em;
  color: #323232;
  float: right;
  display: block;
  position: relative;
  top: 15px;
}
footer h1 {
  font-family: PT Sans Narrow Bold, sans-serif;
  font-size: 1.25em;
  color: #323232;
  text-align: center;
}
footer img {
  width: 100%;
}
.main {
  margin: 0 auto;
  width: 700px;
}
.main_2 {
  margin: 0 auto;
  width: 700px;
  background-color: #eeeeee;
}
.intro {
  margin: 0 auto;
}
.intro h1 {
  text-align: center;
}
.kat {
  float: left;
  width: 50%;
  background-color: #eeeeee;
  height: 250px;
}
.mavis {
  float: right;
  width: 50%;
  background-color: #eeeeee;
  height: 250px;
}
.kat h2 {
  text-align: center;
  padding: 25px;
}
.mavis h2 {
  text-align: center;
  padding: 25px;
}
.cool-cats {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.main_2 {
  text-align: center;
  margin: 0 auto;
  height: 405px;
}
.main_2 h1 {
  text-align: center;
padding: 40px 0 0 35px;
}
.hours {
  background-color: white;
  display: inline-block;
  width: 250px;
  height: 200px;
  float: left;
  margin-left: 50px;
  padding: 15px;
}
.contact {
  display: inline-block;
  background-color: white;
  width: 250px;
  height: 200px;
  float: right;
  margin-right: 50px;
  padding: 15px;
}
.center {
  text-align: center;
}
.fix-it {
  padding: 15px;
}
@media(min-width: 660px) {
}

/* On devices wider than 940px
@media(min-width: 940px) {
}*/
